################################################
###       environment config file            ###
################################################
SOURCE_DIR=/Users/lipeng/phpwork


############# Container source.list ############
REPLACE_SOURCE_LIST=true


#################### Nginx #####################
NGINX_VERSION=latest
NGINX_HTTP_HOST_PORT=80
NGINX_HTTPS_HOST_PORT=443
NGINX_CONF_DIR=/Users/lipeng/png/nginx/conf/conf.d
NGINX_LOG_DIR=/Users/lipeng/png/nginx/log


#################### PHP7.2 ####################
PHP72_VERSION=7.2.13
PHP72_XDEBUG=2.6.1
PHP72_SWOOLE=4.2.1
PHP72_REDIS=4.1.1
PHP72_FPM_CONF_FILE=/Users/lipeng/png/php72/conf
PHP72_LOG_DIR=/Users/lipeng/png/php72/log


#################### PHP5.6 ####################
PHP56_VERSION=5.6.39
PHP56_XDEBUG=2.5.5
PHP56_SWOOLE=2.0.11
PHP56_REDIS=4.1.1
PHP56_FPM_CONF_FILE=/Users/lipeng/png/php56/conf
PHP56_LOG_DIR=/Users/lipeng/png/php56/log